  <div>
  <img style='border: 3px dashed red' src=https://thechive.com/wp-content/uploads/2020/03/daily-morning-awesomeness-35-photos-15.jpg?quality=85&strip=info&w=600>
  </div>
  <h1>This is a cool picture that I <%=@caption%></h1>