<form action='/named-scrat' method="post">
  <label for="method">How did you get this picture:</label><br>
  <input type="text" id="method" name="caption" value=""><br>
  <input type="submit" value="click this">
  
</form>